<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Bazaar</title>
    {% load static %}
  
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


  <body>
    <div style="position: relative;">
    <nav class="navbar navbar-expand-lg" style="position: sticky; top: 0;" >
        <div class="container-fluid" style="background-color: rgba(48,58,61,1); border-radius: 20px;">
          <span><img src="{% static 'logo1.png'  %}" style="margin-bottom: 5px;"></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="navbar" href="about">About</a>
              </li>
             
              <li class="nav-item">
                <a class="navbar"  href="contactus">Contact us</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="navbar" href="logout">logout</a>
              {% else %}
              <a class="navbar"  href="login">login or signup</a>
              {% endif %}
            </li>
            </ul>
            
          </div>
        </div>
      </nav>
    
      <div class="des" >
     
           {% if user.is_authenticated %}
           <h2 style="font-size: 45px; margin-top: 20px; ">Hii {{user.username}} Welcome to <span style="font-size: 55px; font-family: 'Rubik Distressed', cursive; color: lightskyblue;">Movie Bazaar</span> </h2>
           {% else %}
           <h2 style="font-size: 45px; margin-top: 20px; ">Welcome to <span style="font-size: 55px; font-family: 'Rubik Distressed', cursive; color: lightskyblue;">Movie Bazaar</span> </h2>
           {% endif %}
        <p style="font-family: 'Fjalla One', sans-serif; font-size: 25px;">Choose your favorite streaming providers and never miss when new movies or episodes of your favorite tv series are added. Always stay up to date with the JustWatch Timeline.
          Use a filter for your favorite streaming provider, genre or release year. Our Watchbar will remember your settings.</p>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active crsl">
              <img src="{% static 'slider posters/featured KGF2.jpg'  %}  " class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item crsl">
              <img src=" {% static 'slider posters/featured dr strange.jpg'  %}  " class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item crsl">
              <img src=" {% static 'slider posters/featured thor ragnarok.jpg'  %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
        <div class="brands">
          <img src="https://www.justwatch.com/images/icon/207360008/s100/icon.webp" alt="">
          <img src="https://www.justwatch.com/images/icon/52449861/s100/icon.webp" alt="">
          <img src="https://www.justwatch.com/images/icon/240029443/s100/icon.webp" alt="">
          <img src="https://www.justwatch.com/images/icon/85114140/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/152862153/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/190848813/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/169478387/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/209544767/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/286806073/s100/icon.webp" alt=""> 
          <img src="	https://images.justwatch.com/icon/207468084/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/59562423/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/104966985/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/123324312/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/138047862/s100/icon.webp" alt="">
          <img src="	https://images.justwatch.com/icon/127445869/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/141253805/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/141488812/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/201704934/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/2625277/s100/icon.webp" alt="">
          <img src="	https://images.justwatch.com/icon/48600036/s100/icon.webp" alt="">
          <img src="https://www.justwatch.com/images/icon/89154446/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/208171262/s100/icon.webp" alt="">
          <img src="	https://images.justwatch.com/icon/208147531/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/240558410/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/208856114/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/247912837/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/164970114/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/208148387/s100/icon.webp" alt="">
          <img src="	https://images.justwatch.com/icon/210188316/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/240831409/s100/icon.webp        " alt="">
          <img src="https://images.justwatch.com/icon/243219887/s100/icon.webp" alt="">
          <img src="	https://images.justwatch.com/icon/269433194/s100/icon.webp" alt="">
          <img src="	https://images.justwatch.com/icon/430993/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/248952863/s100/icon.webp        " alt="">
          <img src="https://images.justwatch.com/icon/264459628/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/202068207/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/269433194/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/243239329/s100/icon.webp" alt="">
          <img src="	https://images.justwatch.com/icon/244290074/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/243489840/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/243233518/s100/icon.webp" alt="">
          <img src="https://images.justwatch.com/icon/208856114/s100/icon.webp        " alt="">
          <img src="https://images.justwatch.com/icon/243059301/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/243219887/s100/icon.webp        " alt="">
          <img src="	https://images.justwatch.com/icon/210188316/s100/icon.webp        " alt="">
          <img src="https://images.justwatch.com/icon/243059301/s100/icon.webp" alt="">
      </div>
      </div>
      <header id="land">
        <form class="d-flex search" id="form" role="search">
            <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success" type="submit">Search</button> 
          </form>
          <!-- <form  id="form">
            <input type="text" placeholder="Search" id="search" class="search">
        </form> -->
       <main id="main">
       <div class="movie">
        <button onclick="myfunction()" ><img src="slider posters/featured dr strange.jpg" alt=""></button>
        

       <div class="movie-info">
        <h3>movie title</h3>
        <span class="green">9.8</span>
       </div>
       


       </div>
       </main>
       <footer style="background-color: rgba(48,58,61,1);">
        <div id="grid2">
            <div class="footHead">Movie Bazaar <sup style="font-family: serif; font-size: 20px;">&#174;</sup></div>
            <div class="detail"><div class="eleHead">Offices:</div><div>India</div><div>Canada</div><div>Mexico</div><div>Germany</div></div>
            <div class="detail2"><div class="eleHead">Headquarters:</div><div>IIT Indore</div><div>Khandwa Road, Simrol</div><div>Madhya Pradesh</div><div>452020</div></div>
            <div class="footSocial"><div class="eleHead">Reach us through:</div><div><a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-instagram"><a href="#" class="fa fa-linkedin"></a><a href="#" class="fa fa-youtube"></a></div></div>
        </div>
        <br><hr>
        <div style="color: darkgray;">Website Terms and Conditions | Privacy Policy | Supplier Code of conduct | Do not sell my information | This whole content has copyrights | Punishment for the guilty will be legally abiding</div>
        <br>
        <div style="text-align: center;">Web Team 34 Inc.</div>
        <div style="text-align: center;">All Rights Reserved &copy; 2022</div>
    </footer>
      </header>
      <div id="noland">
       
          
       
      
      </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{% static 'script.js'  %}"></script>
  </body>
</html>